<header class="header" style="display: none">
    <h1 class="page-title text--medium man"><a class="text--dark underline--none" href="/">Automated Web Weekly</a></h1>
</header>
<div class="wrapper bg--black text--white" style="min-height: 100vh">
    <div class="wrapper--content wrapper--promo pt2">
        <p class="text--white text--center"><b class="text--green">Automated Web Weekly</b></p>
        <h1 class="text--jumbo man">Computers are good at repetitive tasks, so you don't have to be.</h1>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//clintonhalpindesign.us4.list-manage.com/subscribe/post?u=d5fc41aa64cfcb59022da7d49&amp;id=aceb2e4c2d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Sign up for updates</h2>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_d5fc41aa64cfcb59022da7d49_aceb2e4c2d" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn bg--green" style="margin-top: 1rem;"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
        <p class="text--white text--center"><b class="text--green">Automated Web Weekly</b> it's about building software faster.</p>
    </div>
</div>
